
body {
    margin: 0;
    height: 100vh;
    background-color: #f9f8fb;
    /* font-family: "Yanone Kaffesatz", sans-serif; */
    font-family: "Josefin Sans", sans-serif;
}

#content {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#header {
    position: absolute;
    top: 0;
    height: 100px;
    width: 100%;
    background-color: #0b1013;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title {
    font-family: "Licorice";
    font-size: 3.5ch;
    margin: .75rem 0;
    font-weight: bold;
    width: 50%;
    color: #f9f8fb;
}

#nav {
    height: 100%;
    width: 75%;
    display: flex;
    justify-content: center;
    gap: .5rem;
}

#nav-visuals {
    width: 100%;
    height: 25px;
    background: #f9f8fb;
}

.nav-button {
    width: 100%;
    border-radius: 0;
    border: transparent;
    background-color: #0b1013;
    border-bottom: solid 3px #ee2a00;
    color: #f9f8fb;
    font-weight: bold;
    text-transform: uppercase;
}

#container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px red;
}

#footer {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: #0b1013;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f9f8fb;
}

a, a:visited {
    color: #f9f8fb;
}

#home {
    border: solid 1px green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hero-image {
    background: url('hero-image.jpg');
}