
body {
    margin: 0;
    height: 100vh;
    background-color: #f9f8fb;
    /* font-family: "Yanone Kaffesatz", sans-serif; */
    font-family: "Josefin Sans", sans-serif;
}

#content {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#header {
    position: absolute;
    top: 0;
    height: 100px;
    width: 100%;
    background-color: #0b1013;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title {
    font-family: "Licorice";
    font-size: 3.5ch;
    margin: .75rem 0;
    font-weight: bold;
    width: 50%;
    color: #f9f8fb;
}

#nav {
    height: 100%;
    width: 75%;
    display: flex;
    justify-content: center;
    gap: .5rem;
}

.nav-button {
    width: 100%;
    border-radius: 0;
    border: transparent;
    background-color: #0b1013;
    border-bottom: solid 3px #ee2a00;
    color: #f9f8fb;
    font-weight: bold;
    text-transform: uppercase;
}

#container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#footer {
    position: relative;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: #0b1013;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f9f8fb;
}

a, a:visited {
    color: #f9f8fb;
}

#home, #menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 8rem;
    width: 100%;
}

#hero-container {
    margin-bottom: 2rem;
    position: relative;
    width: 100%;
    height: 375px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ee2a00;
}

#hero-image {
    height: 350px;
    width: auto;
}

#home-description {
    width: 34ch;
    text-align: center;
    font-style: italic;
    opacity: .8;
    border-bottom: solid 3px #ee2a00;
    padding: 1rem 0;
}

#hours {
    padding: 2rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-header {
    margin: 5rem 0;
    height: 175px;
    font-size: 3ch;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9f8fb;
    background-color: #ee2a00;
}

.menu-image {
    height: auto;
    max-width: 90%;
}

.menu-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25ch;
    gap: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 5rem;
    border-bottom: solid 1px #ee2a00;
    min-height: 300px;
}

#menu-item-name {
    font-size: 2ch;
    font-style: bold;
    text-align: center;
}

#menu-description {
    font-size: 1.5ch;
    text-align: center;
    opacity: 80%;
}